<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="./css/styles.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p class="msg-1"></p>
        <p class="msg-2"></p>
    </div>
    
    {{>footer}}
    <script src="./js/script.js"></script>
</body>
</html>